
body{
	margin: 0;
}
img{
	display: block;
	max-width: 100%;
}
.logo{
	opacity: 0.8;
}
/* --------------Estilo Header*/
.header.contenedor{
	display: flex;
	justify-content: space-between;
}
.logo, .icon-menu{
	margin:5px;
}	
.icon-menu{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 40px;
	background: orange;
	color: #fff;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left:auto;
	cursor: pointer;
}
/*Estilo Menu*/
.nav{
	position: absolute;
	top:60;
	right: -110%;
	width: 100%;
	transition: all 0,2s;
}
.menu{
	list-style: none;
	padding:20px;
	margin:0;
	width: 100%;
}
.menu_link{
	display: block;
	padding: 20px;
	background:orange;
	text-decoration: none;
	color: #fff;
}
.menu_link:hover,.select{
	background: orange;
	color: white;
}	
.mostrar{
	right:0;
}
/*----ESTILO BANNER--------*/

.banner{
	margin-top:-120px;
	position: relative;
	z-index: -1000;
	margin-bottom:30px;
	padding: 10px;
}
.banner img{
	width: 100%;
}
.banner .contenedor{
	position:absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background:orange;
	opacity:0.85;
	width: 100%;
	color: #fff;
	text-align:center;
	font-family: cooper,sans-serif;
}
.banner_txt{
	display: none;
}


.banner_img{
	width: auto;
}
/*----------Estilo Boton-------- */
.boton{
	 position: center;
}
.boton_curso{
	display: block;
	color: white;
	font-size: 30px;
	padding: 30px;
	background: orange;
	border-radius: 50%;
	width:200px;
	height: 40px;
	line-height: 40px;
	font-family: impact,sans-serif;
}
.boton_curso:hover{
	background: black;
	color: orange;
}	

 /*----------Estilo FOOTER-------- */
 .footer{
 	background: #2E2E2E;
 	color:#fff;
 	padding: 10px;
 	text-align: center;
 }
.footer .social [class^="icon-"]{
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	background: white;
	border-radius: 50%;
	width:40px;
	height: 40px;
	line-height: 40px;
}
.footer .social [class^="icon-"]:hover{
 		background: black;
 		color: white;
}
/*------------ESTILO RESPONSIVE-------*/

@media(min-width: 480px){
	.logo{
		font size: 40px;
	}
	.banner_titulo{
		font-size: 30px;
		margin: 5px 0;
	}
	.banner_txt{
		display: block;
		font-size:20px;
		margin: 5px 0;
	}
	.info{
		display: flex;
		justify-content: space-between;
	}
	.info_columna{
		width: 32%;
	}
	.info_titulo{
		font-size: 30px;
		margin: 5px 0;
	}
	.info_img{
		width: 300px;
		height: 100px;
	}
	.menu_link:hover,.select{
	background: white;
	color: orange;
}	

@media(min-width: 768px){
.logo{
		font size: 50px;
	}
	.banner_titulo{
		font-size: 30px;
		margin: 5px 0;
	}
	.banner_txt{
		display: block;
		font-size:25px;
		margin: 5px 0;
	}
	.info{
		display: flex;
		justify-content: space-between;
	}
	.info_columna{
		width: 40%;
	}
	.info_titulo{
		font-size: 40px;
		margin: 5px 0;
	}
	.info_img{
		width: 400px;
		height: 200px;
	}
	.menu_link:hover,.select{
	background: white;
	color: orange;
}	
}
@media(min-width: 1024px){
	.nav{
		position:static;
	}
	.menu{
		display:flex;
		margin-right: 50px;
	}
	.select {
		background: orange;
		color: white;
	}
	.icon-menu{
		display: none;	
	}
	.banner_titulo{
		font-size: 60px;
	}

}
